.language-selector {
    display: flex;
    align-items: center;
}

.language-item {
    border-right: 2px solid var(--gray-color);
    padding-inline: 0.25rem;

    color: var(--gray-color);
    font-size: 0.8rem;
    font-weight: 600;
}

.language-item:last-child {
    border-right: none;
}

.selected-language {
    color: var(--cyan-color);
}
