.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

@media (width > 768px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-list li:last-child {
        grid-column: 1 / 3;
    }
}

@media (width > 1028px) {
    .card-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .card-list li:last-child {
        grid-column: auto;
    }
}
