:root {
    --background: #ffffff;
    --foreground: #171717;

    --cyan-color: #0aaa9d;
    --gray-color: #666666;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-nunito-sans), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

b {
    font-weight: 800;
}

button {
    cursor: pointer;
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.cyan-text {
    color: var(--cyan-color);
    font-weight: 800;
}
